{% load static %}
<!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; DJHAW TECH</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form method="POST" id="deleteCommentForm" action="{% url 'author:delete_comment' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Delete Comment?</h5>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    Komentar akan dihapus secara permanen.
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="comment_id" id="commentIdInput">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>



    <script src="{% static 'author/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'author/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'author/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'author/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'author/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'author/js/sb-admin-2.min.js' %} "></script>
    <!-- Page level plugins -->
    <script src="{% static 'author/vendor/chart.js/Chart.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'author/js/demo/chart-area-demo.js' %} "></script>
    <script src="{% static 'author/js/demo/chart-pie-demo.js' %} "></script>

    <script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });

    
    $('#deleteCommentModal').on('show.bs.modal', function (event) {
    const commentId = $(event.relatedTarget).data('id')
    $('#commentIdInput').val(commentId)
    })

    </script>
    

</body>

</html>