{% extends "author/dashboard_author.html" %} 
{% load static %}
<!-- Begin Page Content -->
{% block content %}
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List Comment Post</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Title Blog</th>
                                            <th>User</th>
                                            <th>Comment</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for comment in get_comment %}
                                            <tr>
                                                <td> {{ forloop.counter }} </td>
                                                <td> <a href="{% url 'author:detail_post' comment.post.slug_post %}"> 
                                                    {{ comment.post.title_post }} </a> 
                                                </td>
                                                <td> {{ comment.user.nama }} </td>
                                                <td> {{ comment.comments }} </td>
                                                <td><button type="button" 
                                                            class="btn btn-danger" 
                                                            data-toggle="modal" 
                                                            data-target="#deleteCommentModal"
                                                            data-id="{{ comment.id }}">
                                                        Hapus
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            {% endblock content %}